* {
    font-family: 'Roboto', sans-serif;
}

#logo {
    max-width: 50%;
    height: auto;
 
}  

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
 

}
  
  /* padding-bottom : pour inclure un espacement
     margin-bottom : pour créer un espacement sans l'inclure */

}

p  {
    font-size: 1.3em;
    font-family: ;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 3em;
}
#bloc_image {

    margin-block-start: 15em;
    margin-block-end: 5em;

}

a {
    font-size: 1.3em;
    font-family: ;
    text-align: justify;
