@font-face {
    font-family: 'introheadr-base';
    src: url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

     font-family: 'introrustg-base2line';
    src: url('fonts/introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo {
    max-width: 35%;
    height: auto;
}  

p {
	font-size: 1em;
	font-family: 'avenir';
	text-align: justify;


}

li {
	font-size: 1em;
	font-family: 'avenir';
	text-align: left;
}

h1 {
	font-family: 'impact';
}

h2 {
    font-family: 'impact';
    font-size: 1em;
}

h3 {
    font-family: 'impact';
    font-size: 1em;
}


img {
    max-width: 50%
    height: auto;

}


}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



