@font-face {
    font-family: 'introheadr-base';
    src: url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

     font-family: 'introrustg-base2line';
    src: url('fonts/introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'Farro', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Farro:wght@500&family=Roboto&display=swap');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
 
p {
	font-size: 1em;
	font-family: 'trebuchet MS';
	text-align: justify;

}

li {
	font-size: 1em;
	font-family: 'trebuchet MS';
	text-align: left;
}

h1 {
	font-family: 'impact';
}

h2 {
    font-family: 'impact';
    font-size: 1em;
}

h3 {
    font-family: 'impact';
    font-size: 1em;
}

#matrix {
    max-width: 25%;
    height: auto;
}







