<nav class="navbar">
    <div class="nav-content">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Chyster Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="rules.html">Règles</a></li>
            <li><a href="#">À propos</a></li>
        </ul>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
    </div>
</nav>